el-get/
elpa/
undohist/
auto-save-list/
ac-comphist.dat
.cask/*
*~
*.swp
.DS_Store
.python-environments/
recentf
places
history
v/
cache/
!cache/.gitkeep
#*
.#*

haskell-fun/

ido.last
projectile-bookmarks.eld
